.BoxUserHome{
    position: absolute;
    z-index: 1;
    left: 1000px;
    width: 380px;
    max-height: 90%;
    padding: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg ,rgb(5, 5, 5), rgb(0, 0, 0));
    margin: -10px auto;
    border-radius: 5px;
    outline: 3px solid rgb(14, 14, 14);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: slideBoxUserHome 1s both 0s;
    user-select: none;
}
@keyframes slideBoxUserHome {
    0%{left: 1000px; filter: opacity(0%);}
    100%{left: 780px; filter: opacity(100%);}
}

.BoxUserHome-info-user{
    position: relative;
    height: 160px;
    top:0px;
    /* background-color: red; */
    margin: 10px 5px 200px 5px;
    
}

.BoxUserHome-info-user-img{
    position: absolute;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    bottom: -40px;
    z-index: 100;
}


.BoxUserHome-info-user-cover{
    position: absolute;
    width: 100%;
    height: 160px;
    z-index: 1;
    /* border-radius: 10px; */
    filter: brightness(80%);

}

.BoxUserHome-info-user-cover-shadow{
    position: absolute;
    width: 100%;
    height: 160px;
    z-index: 5;
    background: linear-gradient(0deg, rgb(5, 5, 5), rgba(0, 0, 0, 0.315));
}

.BoxUserHome-info-user-span{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center; */
    z-index: 100;
    /* background: red; */
    font-size: 30px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;

}

/* 
.BoxUserHome-info-user-span > span{
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px; 
    display: inline-block;
} */

.photo {
    top: 90px;
    align-items: center;
}
.BoxUserHome-info-user-span:hover{
    cursor: pointer;
}

.BoxUserHome-info-user-span > span{
    color: white;
}